[Unit]
Description=La Suite - Drive
After=network.target postgresql.service redis.service

[Service]
Type=simple
User=__APP__
WorkingDirectory=__INSTALL_DIR__/src/backend
Environment="PATH=__INSTALL_DIR__/_build/venv/bin"
EnvironmentFile=__INSTALL_DIR__/.env
ExecStart=__INSTALL_DIR__/_build/venv/bin/uv run gunicorn -c __INSTALL_DIR__/gunicorn_drive.py drive.wsgi:application
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
